{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Carrito de Compras</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home:home' %}">Inicio</a>
                            <span>Carrito de Compras</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            {% if cart %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                <tr>
                                    <th class="shoping__product">Productos</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img width="150" height="150"
                                                     src="{% if product.photo %}{{ product.photo.url }}{% endif %}"
                                                     alt="{{ product.name }} imagen">
                                                <h5>{{ product.name }}</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                {{ product.price|intcomma }}
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                            {% csrf_token %}
                                                            {{ item.update_quantity_form.quantity }}
                                                            {{ item.update_quantity_form.update }}
                                                            <input type="submit" style="border: none" value="Actualizar" class="primary-btn add-btn add-cart ">

                                                        </form>
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total">
                                                {{ item.total_price|intcomma }}
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <button style="border: none;" data-product="{{ product.id }}" data-action="remove"
                                                        class="remove-cart btn-danger"><span class="icon_close " style="color: white"></span></button>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12 mb-5 d-flex justify-content-center align-content-center">
                        <h3 class="text-center text-danger mr-1">No hay productos en el carrito todavia, puede
                            comprar </h3> <a class="primary-btn" href="{% url 'shop:product_list' %}">Aqui</a>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'shop:product_list' %}" class="primary-btn cart-btn">CONTINUAR COMPRANDO</a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Codigo de Descuento</h5>
                            <form action="{% url "coupons:apply" %}" method="post">
                                {% csrf_token %}
                                {{ coupon_apply_form }}
                                <button type="submit" class="site-btn">APLICAR CUPÓN</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Total a Pagar</h5>
                        <ul>
                            <li>Subtotal <span>{{ cart.get_total_price|intcomma }} COP</span></li>
                            <li>Total <span>{{ cart.get_total_price|intcomma }} COP</span></li>
                        </ul>
                        <a href="{% url 'orders:create_order' %}" class="primary-btn">Proceder a Pagar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
{% endblock %}