<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Shop ecomerce">
    <meta name="keywords" content="Shop, unica, ecommerce, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script type="text/javascript">
        let user = '{{ request.user }}';

        function getCsrfToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCsrfToken('csrftoken');
    </script>
{% block head %}

{% endblock %}
</head>
<body>


<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="{% static 'img/language.png' %}" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Español</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:login_user' %}"><i class="fa fa-user"></i>Mi Cuenta</a>
            {% else %}
                <a href="{% url 'account:login_user' %}"><i class="fa fa-user"></i> Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="{% if request.path == '/' %}active {% endif %} "><a href="{% url 'home:home' %}">Inicio</a>
            </li>
            <li class="{% if request.path == '/shop/products/' %}active {% endif %} "><a
                    href="{% url 'shop:product_list' %}">Productos</a></li>
            <li class="{% if request.path == '/blog/' %}active {% endif %} "><a
                    href="{% url 'blog:blog_list' %}">Blog</a></li>
            <li class="{% if request.path == '/contact/' %}active {% endif %} "><a
                    href="{% url 'home:contact' %}">Contacto</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> prueba@prueba.com</li>
            <li>Envíos gratis desde los 300.000 COP</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> prueba@prueba.com</li>
                            <li>Envíos gratis desde los 300.000 COP</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="{% static 'img/language.png' %}" alt="">
                            <div>Español</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Español</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            {% if request.user.is_authenticated %}
                                <div class="header__top__right__language">
                                    <div><i class="fa fa-user"></i> Mi cuenta</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul style="background-color: #FFFFFF">
                                        <li style="border-bottom: 1px solid #ccc"><a style="color: #000000" href="#">Perfil</a>
                                        </li>
                                        <li style="border-bottom: 1px solid #ccc"><a style="color: #000000" href="#">Favoritos</a>
                                        </li>
                                        <li style="border-bottom: 1px solid #ccc"><a style="color: #000000"
                                                                                     href="{% url 'account:logout_user' %}">Salir</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <a href="{% url 'account:login_user' %}"><i class="fa fa-user"></i>Iniciar Sesión</a>
                            {% endif %}
                            {% comment %}<div class="dropdown">
                                    <a class="btn btn-outline-success dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="true">
                                        <i class="fa fa-user"></i>Mi Cuenta
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="{% url 'account:login_user' %}">Cerrar Sesión</a>
                                    </div>
                                </div>{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="{% if request.path == '/' %}active {% endif %} "><a href="{% url 'home:home' %}">Inicio</a>
                        </li>
                        <li class="{% if request.path == '/shop/products/' %}active {% endif %} "><a
                                href="{% url 'shop:product_list' %}">Productos</a></li>
                        <li class="{% if request.path == '/blog/' %}active {% endif %} "><a
                                href="{% url 'blog:blog_list' %}">Blog</a></li>
                        <li class="{% if request.path == '/contact/' %}active {% endif %} "><a
                                href="{% url 'home:contact' %}">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        

            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        {% with total_items=cart|length %}
                            <li><a href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-bag"></i>
                                <span>{% if cart|length > 0 %}{{ total_items }}{% else %}0{% endif %}</span></a>
                            </li>

                            </ul>
                            <div class="header__cart__price">Total: <span>${{ cart.get_total_price|intcomma }}</span>
                            </div>
                        {% endwith %}
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Categorias</span>
                    </div>
                    <ul>
                        <li><a href="#">Vegetales</a></li>
                        <li><a href="#">Frutas</a></li>
                        <li><a href="#">Ropa</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Relojes</a></li>
                        <li><a href="#">Zapatos</a></li>
                        <li><a href="#">Tecnologia</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Filtros
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Buscar Producto">
                            <button type="submit" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+57 123 456 7890</h5>
                            <span>Estamos las 24 horas</span>
                        </div>
                    </div>
                </div>
                {% block banner %}

                {% endblock %}
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
{% block content %}

{% endblock %}
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <ul>
                        <li>Dirección: 60-49 Road 11378 New York</li>
                        <li>Telefono: +57 123 456 7890</li>
                        <li>Email: prueba@prueba.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Links</h6>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Sobre Nuestra tienda</a></li>
                        <li><a href="#">Término del sitio</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Testimonios</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Suscribete a nuestro correo Semanal</h6>
                    <p>Recibe un correo con la mejores ofertas cada semana</p>
                    <form action="#">
                        <input type="text" placeholder="Ingresa tu Email">
                        <button type="submit" class="site-btn">Suscribirse</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>

</body>
</html>